body {
	padding-left: 30px;
	vertical-align: top;
}

button {
	cursor: pointer;
	font-weight: bold;
	border-radius: 0px;
}

#saveInformation {
	display: inline-block;
}

#mainContainer {
	display: inline-block;
}
#dataAsker {
	display: inline-block;
	vertical-align: top;
}
#dataAsker * {
	vertical-align: top;
}
#dataAsker #error {
	color: red;
}
	
.container {
	vertical-align: top;
	display: inline-block;
}

.container.childs {
	display: block;
	padding-left: 30px;
}

.noChilds {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 100% auto;
	margin-right: 10px;
	margin-left: 10px;	
}
.withChilds {
	background-image: url('../images/plus.jpg');
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 100% auto;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
}
.withChilds.expanded {
	background-image: url('../images/minus.jpg');
}

.add {
	background-image: url('../images/add.jpg');
	width: 20px;
	height: 20px;
	background-size: 100% auto;
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
}
.del {
	background-image: url('../images/remove.jpg');
	width: 20px;
	height: 20px;
	background-size: 100% auto;
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
}